Value INTF_NAME (\S+)
Value INPUT_PACKETS (\d+)
Value OUTPUT_PACKETS (\d+)

Start
  ^Physical interface: ${INTF_NAME},
  ^\s+Input\s+packets\s*:\s*${INPUT_PACKETS}
  ^\s+Output\s+packets\s*:\s*${OUTPUT_PACKETS} -> Record