Value INTF_NAME (\S+)
Value INPUT_BYTES (\d+)
Value OUTPUT_BYTES (\d+)

Start
  ^Physical interface: ${INTF_NAME},
  ^\s+Input\s+bytes\s+:\s+${INPUT_BYTES}\s+
  ^\s+Output\s+bytes\s+:\s+${OUTPUT_BYTES}\s+
  ^\s+Interface transmit statistics: Disabled -> Record